/* responsive.css  */


/* 500 to 960 pixels */
@media screen and (min-width: 31.25em) {
nav ul li {
  width: 33%;
  }
#col1 {
  width: 43%;
  }
  #col2 {
    width: 43%;
  }
}




